@utility text-shadow-none {
  text-shadow: 0 0 0 var(--tw-shadow-color, transparent);
}

@utility text-shadow-sm {
  text-shadow: 0 2px 4px var(--tw-shadow-color, transparent);
}

@utility text-shadow {
  text-shadow: 0 4px 6px var(--tw-shadow-color, transparent);
}

@utility text-shadow-lg {
  text-shadow: 0 8px 16px var(--tw-shadow-color, transparent);
}
