@utility text-shadow-none {
  text-shadow: 0 0 0 var(--tw-shadow-color, transparent);
}

@utility text-shadow-sm {
  text-shadow: 0 2px 4px var(--tw-shadow-color, transparent);
}

@utility text-shadow {
  text-shadow: 0 4px 6px var(--tw-shadow-color, transparent);
}

@utility text-shadow-lg {
  text-shadow: 0 8px 16px var(--tw-shadow-color, transparent);
}

@utility bg-ni-sidebar {
  background:
    -12rem 0 / cover no-repeat,
    linear-gradient(180deg, rgba(56, 0, 2, 1), rgba(97, 14, 17, 1));
}

@utility bg-ni-navbar {
  background-image: linear-gradient(180deg, rgba(155, 47, 48, 1) 0%, rgba(145, 42, 44, 1) 100%);
}
