@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap')
layer(base);
@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@config '../tailwind.config.cjs';


@layer utilities {
  body {
    background-image: linear-gradient(
      180deg,
      rgba(155, 47, 48, 1) 0%,
      rgba(120, 36, 38, 1) 15%,
      rgba(65, 19, 21, 1) 100%
    );
    @apply bg-no-repeat;
    @apply bg-top-right;
    background-size: cover;
    background-position-y: 50%;
  }

  .bg-ni-sidebar {
    background:
      -12rem 0 / cover no-repeat,
      linear-gradient(180deg, rgba(56, 0, 2, 1), rgba(97, 14, 17, 1));
  }

  .bg-ni-navbar {
    background-image: linear-gradient(180deg, rgba(155, 47, 48, 1) 0%, rgba(145, 42, 44, 1) 100%);
  }

  .footer-icons svg,
  .footer-icons path {
    pointer-events: none;
  }

  .footer-icons * {
    transition: opacity 0.2s ease-in-out;
  }
}

@layer base {
  :root {
    --background: hsl(357 56% 84%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(357 56% 84%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(357 56% 84%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(0 54% 54%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(358 18% 40%);
    --secondary-foreground: hsl(357 56% 84%);
    --muted: hsl(357 57% 20%);
    --muted-foreground: hsl(0 0% 70%);
    --accent: hsl(0 66% 37%);
    --accent-foreground: hsl(357 56% 84%);
    --destructive: hsl(0 85% 60%);
    --destructive-foreground: hsl(0 0% 0%);
    --border: hsl(357 57% 20%);
    --input: hsl(357 57% 20%);
    --ring: hsl(0 66% 40%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(357 55% 16%);
    --foreground: hsl(0 0% 100%);
    --card: hsl(357 55% 16%);
    --card-foreground: hsl(0 0% 100%);
    --popover: hsl(357 55% 16%);
    --popover-foreground: hsl(0 0% 100%);
    --primary: hsl(0 54% 46%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(358 18% 60%);
    --secondary-foreground: hsl(357 55% 16%);
    --muted: hsl(357 55% 80%);
    --muted-foreground: hsl(0 0% 100%);
    --accent: hsl(0 66% 63%);
    --accent-foreground: hsl(357 55% 16%);
    --destructive: hsl(0 62% 30%);
    --destructive-foreground: hsl(0 0% 10%);
    --border: hsl(357 55% 60%);
    --input: hsl(357 55% 80%);
    --ring: hsl(0 66% 60%);
  }
}
